<% provide(:title, 'Ladder') %>
<h1>Ladder</h1>

<ul class="ladders">
	<center>
      <table border="3" cellspacing="2" cellpadding="4">
      <tr>
		  <th width="44 pixels">Pos.</th>
		  <th width="44 pixels">Points</th>
		  <th width="200 pixels">Player</th>
		  <th width="44 pixels">Wins</th>
		  <th width="44 pixels">Losses</th>
		  <% if signed_in? %><th width="80 pixels"></th><% end %>
      </tr>
      <% i = 1 %>
      <% @ladder.each do |u| %>
      	
       	<tr>
 			<td><%= i %></td>
			<td><%= u.points %></td>
			<td><%= gravatar_for u, size: 26 %><%= link_to u.name, controller: "users", action: "show", id: u %></td>
			<td><%= u.wins %></td>
			<td><%= u.losses %></td>
			<% if signed_in? %>
 	     		<td><%if !(current_user.id==u.id) %><%= link_to "challenge", controller: "matches", action: "new", 
	      			id: u, myid: @user %><%end%></td> 
      		<% end %>
      	</tr>
		<% i=i+1 %>

      <% end %>
      </table>
    <center>
</ul>
